.panel
{
    display: inline-block;
    vertical-align: middle;
}

.statusButton
{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid rgba(95, 95, 95, 0.685) 1px;
    margin: 15px;
}