<div class="statusButton panel" style="background:{{status?' rgb(13, 218, 13)':'#fff'}}"></div>
<div class="panel">{{status?'online':''}}</div>
<qrcode [qrdata]="qr" [width]="256" [errorCorrectionLevel]="'M'" *ngIf="qr"></qrcode>

<div>
    <input type="text" #number>
</div>

<div>
    <!-- <button (click)="getConnection()" >Get Connection</button> -->
    <button (click)="clicked(number.value)" *ngIf="status">Send Message</button>
    <button (click)="setConnection()" *ngIf="!status">Set connection</button>
    <button (click)="close()" *ngIf="status">close</button>
</div>


<!-- <div *ngFor="let contacto of contactos">
  
</div> -->